<form class="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group">
    <label> Mail Address: </label>
    <input type="email" ngModel  name = "email" required email>
  </div>
  <div class="form-group">
    <select  name="subsciption" [ngModel] = "defaultSubsciption">
        <option *ngFor = "let subsciption of subsciptions" value="{{subsciption}}">{{subsciption}}</option>
      </select>
  </div>
  <div class="form-group">
    <label> Password: </label>
    <input name="password" type="password" ngModel required>
  </div>
  <div class="form-group">
    <button type="submit">Submit</button>
  </div>
</form>
